#root {
    --main-color: #ff7d1b;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* body {
    font-family: "Kumbh Sans";
} */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none;
}
.hidden2 {
    display: block;
}
@media (max-width: 676px) {
    .hidden2 {
        display: none;
    }
}
 /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
 /* mediam  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
 /* Large  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
ul {
    list-style: none;
}
ul li {
    cursor: pointer;
}
ul li a {
    text-decoration: none;
}
/* Start Header */
.header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 90px);
    background-color: #ecebef;
    bottom: 31px;
    margin-bottom: -15px;
    z-index: -2;
}
@media (max-width: 676px) {
    .header .container::after {
        display: none;
    }
}
.header .logo-ul {
    display: flex;
    align-items: center;
}
.header .logo-ul .menu {
    display: none;
}
@media (max-width: 676px) {
    .header .logo-ul .menu {
        display: block;
        margin-right: 10px;
    }
}
.header .logo-ul ul  {
    display: flex;
}
.header .ul-lists .close {
    display: none;
}
@media (max-width: 676px) {
    .header .ul-lists .close {
    display: block;
    }
}
/* .overlay {
    background-color: rgba(1,1,1,.3);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
} */
@media (max-width: 676px) {
    .header .ul-lists {
        background: #fff;
        box-shadow: 1px 3px 7px rgb(1 1 1 / 30%);
        height: 100%;
        left: 228px;
        position: fixed;
        top: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform .3s ease-in;
        transition: transform .3s ease-in;
        transition: transform .3s ease-in,-webkit-transform .3s ease-in;
        width: 55%;
        z-index: 100;
    }
}
@media (max-width: 676px) {
    .header .logo-ul .ul-lists .close {
        margin-left: 15px;
        margin-top: 4px;
    }
}
@media (max-width: 676px) {
    .header .logo-ul ul {
        display: block;
    }
}
.header .logo-ul li a {
    position: relative;
    color: #767779;
    transition: 0.3s;
    font-size: 14px;
    padding: 30px 10px;
    display: block;
    z-index: -2;
}
@media (max-width: 676px) {
    .header .ul-lists ul li {
        margin-left: -33px;
        margin-bottom: -33px;;
    }
}
.header .logo-ul ul li:hover {
    color: var(--main-color);
    border-bottom: 4px solid var(--main-color);
}
@media (max-width: 676px) {
    .header .logo-ul ul li:hover {
        border: none;
    }
}
.header .icon-prfo  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .icon-prfo .icon {
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}
.header .icon-prfo .icon .show-sale {
    align-items: center;
    background-color: #ff7e17;
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-size: 8px;
    height: 10px;
    justify-content: center;
    padding: 1.3px;
    position: absolute;
    right: -1px;
    top: -4px;
    width: 10px;
}
.header .icon-prfo .profo img {
    width: 40%;
}
/* End Header */
/* Start Content */
.gallery .container {
    display: flex;
}
@media (max-width: 676px) {
    .gallery .container {
        flex-direction: column;
        display: flex;
    }
}
.gallery .images {
    margin-left: 50px;
}
.gallery .cont {
    display: none;
}
@media (max-width: 676px) {
    .gallery .cont {
        display: flex;
        justify-content: space-between;
        top: 224px;
        position: relative;
        z-index: 999;
        left: -22px;
    }
}
@media (max-width: 676px) {
    .gallery .cont .prev,
    .gallery .cont .next {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        width: 30px;
    }
}
.gallery .images .parent-image img {
    width: 70%;
    border-radius: 5%;
}
@media (max-width: 676px) {
    .gallery .images .parent-image img {
        width: 123%;
        margin-left: -65px;
        margin-top: 15px;
        border-radius: 0px;
        position: relative;
        right: -1px;   
    }
}
@media (max-width: 676px) {
    .gallery .child-images {
        display: none;
    }
}
.gallery .child-images img  {
    width: 14%;
    margin-right: 20px;
    border-radius: 13%;
    margin-top: 18px;
}
.gallery .child-images .active {
    opacity: 0.5;
}
.gallery .child-images img:hover  {
    width: 14%;
    margin-right: 20px;
    border-radius: 13%;
    margin-top: 18px;
    opacity: 0.5;
}
.gallery .text h6 {
    color: var(--main-color);
}
@media (max-width: 676px) {
    .gallery .text h6 {
        font-size: 16px;
    }
}
.gallery .text h1 {
    font-size: 36px;
}
.gallery .text h2 {
    font-size: 17px;
    color: #878790;
}
@media (max-width: 676px) {
    .gallery .text h2 {
        font-size: 27px;
        margin: 2px 4px;
    }
}
.gallery .text h2 span {
    background-color: #ffac6787;
    color: var(--main-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7%;
    padding: 1px 8px 1px 9px;
    font-size: 21px;
}
.gallery .text .span {
    text-decoration: line-through;
    color: #878790;
}
.gallery .buttons {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
@media (max-width: 676px) {
    .gallery .buttons {
        flex-direction: column;
    }
}
.gallery .buttons .items {
    display: flex;
    background-color: #ddd;
    padding: 12px;
    margin-right: 20px;
}
@media (max-width: 676px) {
    .gallery .buttons .items {
        display: flex;
        background-color: #ddd;
        padding: 13px 195px;
    }
}
.gallery .buttons .items .btn-minus,
.gallery .buttons .items .counter {
    margin-right: 30px;
}
.gallery .buttons .btn-cart button {
    background-color: var(--main-color);
    border: navajowhite;
    padding: 6px 60px 12px 50px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
@media (max-width: 676px) {
    .gallery .buttons .btn-cart button {
        padding: 13px 195px;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
.gallery .buttons .items .btn-minus,
.gallery .buttons .items .btn-plus {
    cursor: pointer;
}
.add-to-cart {
    background-color: #fff;
    box-shadow: 1px 1px 5px -1px;
    width: 265px;
    height: 175px;
    margin-left: -228px;
    margin-bottom: -203px;
    position: absolute;
    top: 40px;
}
@media (max-width: 676px) {
    .add-to-cart {
        background-color: #fff;
        box-shadow: 1px 1px 5px -1px;
        width: 395px;
        height: 259px;
        margin-left: -238px;
        position: absolute;
        top: 40px;
        z-index: 99;
    }
}
.add-to-cart.hidden {
    display: none;
}
.add-to-cart::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 0px);
    background-color: #ddd;
    top: 55px;
    z-index: 1;
}
.add-to-cart h4 {
    margin-left: 10px;
}
.add-to-cart .items .empty {
    position: relative;
    top: -5px;
    left: 84px;
    color: #878790;
}
@media (max-width: 676px) {
    .add-to-cart .items .empty {
        position: relative;
        top: 64px;
        left: 137px;
        color: #878790;
    }
}
.add-to-cart .items .item {
    position: relative;
    top: -41px;
    left: 95px;
}
.add-to-cart .items .item .image {
    border-radius: 8px;
    height: 54px;
    overflow: hidden;
    width: 60px;
    left: -84px;
    position: relative;
    top: 39px;
}
@media (max-width: 676px) {
    .add-to-cart .items .item .image {
        border-radius: 8px;
        height: 68px;
        overflow: hidden;
        width: 69px;
        left: -84px;
        position: relative;
        top: 60px;
    }
}
.add-to-cart .items .item .image img {
    width: 100%;
    height: 100%;
}
.add-to-cart .item .p {
    margin: 15px 9px;
    position: relative;
    top: -24px;
    left: -24px;
}
@media (max-width: 676px) {
    .add-to-cart .item .p {
        margin: 15px 9px;
        position: relative;
        top: -15px;
        left: -11px;
    }
}
.add-to-cart .item .p p {
    font-size: 13px;
    color: #9e9fa1;
}
@media (max-width: 676px) {
    .add-to-cart .item .p p {
        font-size: 18px;
        color: #9e9fa1;
    }
}
.add-to-cart .item .p span {
    font-size: 13px;
    color: black;
    font-weight: bold;
}
.add-to-cart .items .item .del {
    position: relative;
    top: -55px;
    left: 135px;
}
@media (max-width: 676px) {
    .add-to-cart .items .item .del {
        position: relative;
        top: -60px;
        left: 242px;
    }
}
.add-to-cart .item .btn-check {
    position: relative;
    bottom: 35px;
    left: -84px;
}
.add-to-cart .item .btn-check button {
    border: navajowhite;
    border-radius: 5%;
    background-color: var(--main-color);
    padding: 13px 93px;
    color: #fff;
}
@media (max-width: 676px) {
    .add-to-cart .item .btn-check button {
        border: navajowhite;
        border-radius: 5%;
        background-color: var(--main-color);
        padding: 20px 156px;
        color: #fff;
        position: relative;
        left: 0px;
        top: 13px;
    }
}
/* .add-to-cart .items img {
    width: 5%;
    margin-top: 65px;
    margin-left: -38px;
}
.add-to-cart .items .p p {
    margin-top: -44px;
    margin-left: 20px;
    font-size: 14px;
} */
